.maindiv{
    background-color: brown;
    display: flex;
    gap: 50px;
    padding: 10%;
    justify-content: center;
}
.post1{
    background-color: aliceblue;
    border-radius: 25px;
}
.post2{
    background-color: aliceblue;
    border-radius: 25px;
    
}
.post3{
    background-color: aliceblue;
    border-radius: 25px;
}
img{
    border-radius: 25px 25px 0 0;
}
.footer1{
    background-color: pink;
    display: flex;
      border-radius: 0 0 25px 25px;
}
.footer2{
    background-color: orange;
    display: flex;
    border-radius: 0 0 25px 25px;
}
.footer3{
    background-color: green;
    display: flex;
      border-radius: 0 0 25px 25px;
}
.post1 p{
    text-align: center;
}
.post2 p{
    text-align: center;
}
.post3 p{
    text-align: center;
}
.footer1 p{
    margin-left: 30px;
     color: aliceblue;
}
.footer2 p{
    margin-left: 30px;
     color: aliceblue;
}
.footer3 p{
    margin-left: 30px;
    color: aliceblue;
}
.post1 h5{
    color: pink;
    text-align: center;
}
.post2 h5{
    color: orange;
    text-align: center;

}
.post3 h5{
    color: green;
    text-align: center;
}
.post1 h2{
    text-align: center;
}
.post2 h2{
    text-align: center;
}
.post3 h2{
    text-align: center;
}